* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
.grid {
  display: flex;
  width: 300px;
  gap: 5px;
  flex-direction: column;
}

.row {
  width: 300px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cell {
  width: 60px;
  height: 60px;
  border: 2px solid #3a3a3c;
  color: white;

  font-size: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #121213;
  align-items: center;
  justify-content: space-evenly;
}
#toast {
  visibility: hidden;
  padding: 0 10px;
  height: 50px;
  color: #3a3a3c;
  background-color: white;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: bolder;
  opacity: 0;
}

#toast.visible {
  visibility: visible;
  opacity: 1;
}
#toast.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.shake-it {
  animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  width: 100vh;
  gap: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  gap: 6px;
}

.key {
  cursor: pointer;
  background-color: #818384;
  color: white;
  height: 60px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bolder;
}

#backspace,
#enter {
  width: 65px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(5px, 0, 0);
  }
}

.includes {
  background-color: #b3a03a;
}
.not-includes {
  background-color: #3a3a3c;
}
.match {
  background-color: #558d4e;
}
